if poll
    meta(property='og:url' content=`${hostName}/poll/${poll.poll_id}`)
else    
    meta(property='og:url' content=`${hostName}/`)
meta(property='og:type' content='website')
meta(property='og:title' content=`${poll ? poll.name:'Create Live Polls'}`)
meta(property='og:description' content=`${poll ? 'You have been invited for voting on a poll.':'You can create polls and share them with your participants and get real time updates on the votes happening on your created poll. A project by Akshat Trivedi'}`)
meta(property='og:image' content=`${hostName}/images/image.jpg`)
